Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    post-run: playbooks/releases-tox-list-changes/post.yaml
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-tox-validate
    parent: openstack-tox-validate
    post-run: playbooks/releases-tox-validate/post.yaml
    timeout: 3600
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python3-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - releases-tox-validate
        - releases-tox-list-changes
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py312:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    release-approval:
      jobs:
        - check-release-approval
    gate:
      jobs:
        - releases-tox-validate:
            timeout: 10800
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-releases:
            dependencies:
              - tag-releases

Release python-openstackclient for Hibiscus-1 milestone
  deliverables/hibiscus/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release openstacksdk 4.13.0
  deliverables/hibiscus/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release python-heatclient for Hibiscus-1 milestone
  deliverables/hibiscus/python-heatclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release neutron-lib 4.0.0
  deliverables/hibiscus/neutron-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release glance-store for 2026.1
  deliverables/gazpacho/glance-store.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add python-openstackclient feature freeze
  doc/source/hibiscus/schedule.rst
  doc/source/hibiscus/schedule.yaml
Due: none

Add Oslo feature freeze
  doc/source/hibiscus/schedule.rst
  doc/source/hibiscus/schedule.yaml
Due: none

Release glance_store for Hibiscus-1 milestone
  deliverables/hibiscus/glance-store.yaml
Due: releases-tox-list-changes, releases-tox-validate

data: Add stephenfin as oslo liaison
  data/release_liaisons.yaml
Due: releases-tox-validate

Release oslo.messaging for Hibiscus
  deliverables/hibiscus/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release oslo.cache 4.2.0
  deliverables/hibiscus/oslo.cache.yaml
Due: releases-tox-list-changes, releases-tox-validate

Update 2024.last tempest releasenotes page link
  deliverables/dalmatian/tempest.yaml
Due: releases-tox-list-changes, releases-tox-validate

Allow use of local governance repo clone
  openstack_releases/cmds/get_contacts.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Release os-vif for Hibiscus-1 milestone
  deliverables/hibiscus/os-vif.yaml
Due: releases-tox-list-changes, releases-tox-validate

Puppet OpenStack 2026.1 release
  deliverables/gazpacho/puppet-aodh.yaml
  deliverables/gazpacho/puppet-barbican.yaml
  deliverables/gazpacho/puppet-ceilometer.yaml
  deliverables/gazpacho/puppet-cinder.yaml
  deliverables/gazpacho/puppet-cloudkitty.yaml
  deliverables/gazpacho/puppet-designate.yaml
  deliverables/gazpacho/puppet-glance.yaml
  deliverables/gazpacho/puppet-gnocchi.yaml
  deliverables/gazpacho/puppet-heat.yaml
  deliverables/gazpacho/puppet-horizon.yaml
  deliverables/gazpacho/puppet-ironic.yaml
  deliverables/gazpacho/puppet-keystone.yaml
  deliverables/gazpacho/puppet-magnum.yaml
  deliverables/gazpacho/puppet-manila.yaml
  deliverables/gazpacho/puppet-mistral.yaml
  deliverables/gazpacho/puppet-neutron.yaml
  deliverables/gazpacho/puppet-nova.yaml
  deliverables/gazpacho/puppet-octavia.yaml
  deliverables/gazpacho/puppet-openstack-integration.yaml
  deliverables/gazpacho/puppet-openstack_extras.yaml
  deliverables/gazpacho/puppet-openstack_spec_helper.yaml
  deliverables/gazpacho/puppet-openstacklib.yaml
  deliverables/gazpacho/puppet-oslo.yaml
  deliverables/gazpacho/puppet-ovn.yaml
  deliverables/gazpacho/puppet-placement.yaml
  deliverables/gazpacho/puppet-swift.yaml
  deliverables/gazpacho/puppet-tempest.yaml
  deliverables/gazpacho/puppet-trove.yaml
  deliverables/gazpacho/puppet-vitrage.yaml
  deliverables/gazpacho/puppet-vswitch.yaml
  deliverables/gazpacho/puppet-watcher.yaml
  deliverables/gazpacho/puppet-zaqar.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release ovsdbapp 2.18.0 version
  deliverables/hibiscus/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-tox-validate

oslo.utils 10.1.0
  deliverables/hibiscus/oslo.utils.yaml
Due: releases-tox-list-changes, releases-tox-validate

openstacksdk 4.14.0
  deliverables/hibiscus/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

[kolla] Cut stable/2026.1 branch and release RC1 for Kayobe
  deliverables/gazpacho/kayobe.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release Kayobe 20.0.0 for Gazpacho.
  deliverables/gazpacho/kayobe.yaml
Due: releases-tox-list-changes, releases-tox-validate

Tag governance 0.21.0 for API changes
  deliverables/_independent/openstack-governance.yaml
Due: releases-tox-list-changes, releases-tox-validate

Remove data/liaisons.yaml file
  data/release_liaisons.yaml
  doc/source/reference/process.rst
  openstack_releases/cmds/check_schema.py
  openstack_releases/cmds/get_contacts.py
  openstack_releases/cmds/list_changes.py
  openstack_releases/liaisons.py
  tools/check_approval.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Prepare new puppet-glance rleease for 2026.1
  deliverables/gazpacho/puppet-glance.yaml
Due: releases-tox-list-changes, releases-tox-validate

Fix typo of liaison in list-changes script
  openstack_releases/cmds/list_changes.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Relase ipa 11.6.0 for hibiscus
  deliverables/hibiscus/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-tox-validate

Fix liaisons listing in list_changes command
  openstack_releases/cmds/list_changes.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

[OSA] Cut stable/2026.1 branch for roles
  deliverables/gazpacho/openstack-ansible-roles.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release os-traits 3.7.0
  deliverables/_independent/os-traits.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release magnum-capi-helm 1.4.0
  deliverables/_independent/magnum-capi-helm.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release governance again with updated pyproject.toml
  deliverables/_independent/openstack-governance.yaml
Due: releases-tox-list-changes, releases-tox-validate

oslo.utils 10.1.1
  deliverables/hibiscus/oslo.utils.yaml
Due: releases-tox-list-changes, releases-tox-validate

openstacksdk 4.15.0
  deliverables/hibiscus/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create new puppet-ceph release
  deliverables/_independent/puppet-ceph.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create new etcd3gw release
  deliverables/_independent/etcd3gw.yaml
Due: releases-tox-list-changes, releases-tox-validate

Fix get_contacts.py
  openstack_releases/cmds/get_contacts.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Add pyproject.toml
  pyproject.toml
  setup.cfg
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Release os-traits 3.8.0
  deliverables/_independent/os-traits.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add manila specific deadlines to Hibiscus schedule
  doc/source/hibiscus/schedule.rst
  doc/source/hibiscus/schedule.yaml
Due: none

Release ironic 37.0.0 for hibiscus
  deliverables/hibiscus/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

python-openstackclient 10.1.0
  deliverables/hibiscus/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate
