Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python35-jobs
      - openstack-python36-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - releases-tox-list-changes
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    gate:
      jobs:
        - openstack-tox-validate:
            timeout: 3600
            irrelevant-files:
              - ^doc/.*$
        - openstack-tox-py35:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py36:
            irrelevant-files:
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-static:
            dependencies:
              - tag-releases

nova: release pike 16.1.7
  deliverables/pike/nova.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release 0.21.0 of openstacksdk
  deliverables/stein/openstacksdk.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release new version of tripleo-common
  deliverables/stein/tripleo-common.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add Oslo feature freeze to release schedule
  doc/source/stein/schedule.rst
  doc/source/stein/schedule.yaml
Due: none

Oslo releases for 2018-12-18
  deliverables/stein/oslo.log.yaml
  deliverables/stein/oslo.utils.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release karma-subunit-reporter 0.0.4
  deliverables/_independent/karma-subunit-reporter.yaml
Due: releases-tox-list-changes, openstack-tox-validate

nova: release queens 17.0.9
  deliverables/queens/nova.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 11.1.1 for Rocky
  deliverables/rocky/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 9.1.6 for pike
  deliverables/pike/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic 10.1.7 for queens
  deliverables/queens/ironic.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release 0.22.0 of openstacksdk
  deliverables/stein/openstacksdk.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Neutron Stein b1 release
  deliverables/stein/neutron.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible rocky/18.1.2
  deliverables/rocky/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible queens/17.1.6
  deliverables/queens/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release OpenStack-Ansible pike/16.0.24
  deliverables/pike/openstack-ansible.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Oslo releases for 2019-01-02
  deliverables/stein/oslo.cache.yaml
  deliverables/stein/oslo.db.yaml
  deliverables/stein/oslo.log.yaml
  deliverables/stein/oslo.policy.yaml
  deliverables/stein/oslo.privsep.yaml
  deliverables/stein/oslo.service.yaml
  deliverables/stein/osprofiler.yaml
  deliverables/stein/taskflow.yaml
Due: releases-tox-list-changes, openstack-tox-validate

pymod2pkg: Release 0.17.1
  deliverables/_independent/pymod2pkg.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kolla and kolla-ansible stable releases
  deliverables/pike/kolla-ansible.yaml
  deliverables/pike/kolla.yaml
  deliverables/queens/kolla-ansible.yaml
  deliverables/queens/kolla.yaml
  deliverables/rocky/kolla-ansible.yaml
  deliverables/rocky/kolla.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release openstack/placement 0.1.0
  deliverables/stein/placement.yaml
Due: releases-tox-list-changes, openstack-tox-validate

tripleo-heat-templates 9.2.0
  deliverables/rocky/tripleo-heat-templates.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release vitrage and vitrage-dashboard for stable/rocky
  deliverables/rocky/vitrage-dashboard.yaml
  deliverables/rocky/vitrage.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release kolla milestone2 deliverables
  deliverables/stein/kolla-ansible.yaml
  deliverables/stein/kolla.yaml
Due: releases-tox-list-changes, openstack-tox-validate

improve list-changes handling for first releases
  openstack_releases/cmds/list_changes.py
  openstack_releases/gitutils.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

openstackdocstheme 1.28.1
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Update -milestone doc references to -rc
  doc/source/reference/using.rst
Due: none

Oslo releases for 2019-01-07
  deliverables/stein/oslo.messaging.yaml
  deliverables/stein/oslo.utils.yaml
  deliverables/stein/tooz.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release os-brick 2.7.0
  deliverables/stein/os-brick.yaml
Due: releases-tox-list-changes, openstack-tox-validate

osc-lib 1.12.0
  deliverables/stein/osc-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Import swift-bench release history
  deliverables/_independent/swift-bench.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add new Sahara deliverables in Stein (plugins)
  deliverables/stein/sahara-plugin-ambari.yaml
  deliverables/stein/sahara-plugin-cdh.yaml
  deliverables/stein/sahara-plugin-mapr.yaml
  deliverables/stein/sahara-plugin-spark.yaml
  deliverables/stein/sahara-plugin-storm.yaml
  deliverables/stein/sahara-plugin-vanilla.yaml
  deliverables/stein/sahara.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release vitrage, python-vitrageclient and vitrage-dashboard for Stein
  deliverables/stein/python-vitrageclient.yaml
  deliverables/stein/vitrage-dashboard.yaml
  deliverables/stein/vitrage.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release Searchlight for the Stein-2 milestone
  deliverables/stein/searchlight-ui.yaml
  deliverables/stein/searchlight.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Move goals research link
  doc/source/stein/schedule.rst
Due: none

Make it clear which term a TC election is for
  doc/source/stein/schedule.rst
Due: none

Add Train elections to schedule
  doc/source/stein/schedule.rst
  doc/source/stein/schedule.yaml
Due: none

Fix WordCompleter import
  openstack_releases/cmds/interactive_release.py
  requirements.txt
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Files doesn't need to be byte encoded
  openstack_releases/cmds/interactive_release.py
Due: releases-tox-list-changes, openstack-tox-validate, openstack-tox-py35, openstack-tox-py36, openstack-tox-pep8

Release Mistral for the Stein-2 milestone
  deliverables/stein/mistral.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Add deliverable stub for Horizon Tempest Plugin
  deliverables/stein/tempest-horizon.yaml
Due: releases-tox-list-changes, openstack-tox-validate

Release ironic-lib 2.16.1
  deliverables/stein/ironic-lib.yaml
Due: releases-tox-list-changes, openstack-tox-validate
