Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    post-run: playbooks/releases-tox-list-changes/post.yaml
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-tox-validate
    parent: openstack-tox-validate
    post-run: playbooks/releases-tox-validate/post.yaml
    timeout: 3600
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python3-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - releases-tox-validate
        - releases-tox-list-changes
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py312:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    release-approval:
      jobs:
        - check-release-approval
    gate:
      jobs:
        - releases-tox-validate:
            timeout: 10800
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-releases:
            dependencies:
              - tag-releases

[Glance] Epoxy milestone 2 release
  deliverables/epoxy/glance.yaml
Due: releases-tox-list-changes, releases-tox-validate

[neutron-tempest-plugin] Tag 2023.1-last
  deliverables/antelope/neutron-tempest-plugin.yaml
  deliverables/epoxy/neutron-tempest-plugin.yaml
Due: releases-tox-list-changes, releases-tox-validate

New ovsdbapp release 2.10.0
  deliverables/epoxy/ovsdbapp.yaml
Due: releases-tox-list-changes, releases-tox-validate

Revert "Set antelope/2023.1 status to unmaintained"
  data/series_status.yaml
Due: releases-tox-validate

Release metalsmith for Epoxy-2 milestone
  deliverables/epoxy/metalsmith.yaml
Due: releases-tox-list-changes, releases-tox-validate

Proposed 2025.2 Flamingo release schedule
  data/series_status.yaml
  doc/source/flamingo/highlights.rst
  doc/source/flamingo/index.rst
  doc/source/flamingo/schedule.rst
  doc/source/flamingo/schedule.yaml
  doc/source/index.rst
Due: releases-tox-validate

Release OpenStack-Ansible for Caracal
  deliverables/caracal/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible for Bobcat
  deliverables/bobcat/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

[OpenStack-Ansible Roles] Transition 2023.1 Antelope to Unmaintained
  deliverables/antelope/openstack-ansible-roles.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible Dalmatian
  deliverables/dalmatian/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create final stable/2023.1 release of puppet-keystone
  deliverables/antelope/puppet-keystone.yaml
Due: releases-tox-list-changes, releases-tox-validate

[Puppet OpenStack] Transition 2023.1 Antelope to Unmaintained
  deliverables/antelope/puppet-aodh.yaml
  deliverables/antelope/puppet-barbican.yaml
  deliverables/antelope/puppet-ceilometer.yaml
  deliverables/antelope/puppet-cinder.yaml
  deliverables/antelope/puppet-cloudkitty.yaml
  deliverables/antelope/puppet-designate.yaml
  deliverables/antelope/puppet-ec2api.yaml
  deliverables/antelope/puppet-glance.yaml
  deliverables/antelope/puppet-gnocchi.yaml
  deliverables/antelope/puppet-heat.yaml
  deliverables/antelope/puppet-horizon.yaml
  deliverables/antelope/puppet-ironic.yaml
  deliverables/antelope/puppet-keystone.yaml
  deliverables/antelope/puppet-magnum.yaml
  deliverables/antelope/puppet-manila.yaml
  deliverables/antelope/puppet-mistral.yaml
  deliverables/antelope/puppet-murano.yaml
  deliverables/antelope/puppet-neutron.yaml
  deliverables/antelope/puppet-nova.yaml
  deliverables/antelope/puppet-octavia.yaml
  deliverables/antelope/puppet-openstack-integration.yaml
  deliverables/antelope/puppet-openstack_extras.yaml
  deliverables/antelope/puppet-openstack_spec_helper.yaml
  deliverables/antelope/puppet-openstacklib.yaml
  deliverables/antelope/puppet-oslo.yaml
  deliverables/antelope/puppet-ovn.yaml
  deliverables/antelope/puppet-placement.yaml
  deliverables/antelope/puppet-qdr.yaml
  deliverables/antelope/puppet-rally.yaml
  deliverables/antelope/puppet-sahara.yaml
  deliverables/antelope/puppet-swift.yaml
  deliverables/antelope/puppet-tempest.yaml
  deliverables/antelope/puppet-trove.yaml
  deliverables/antelope/puppet-vitrage.yaml
  deliverables/antelope/puppet-vswitch.yaml
  deliverables/antelope/puppet-watcher.yaml
  deliverables/antelope/puppet-zaqar.yaml
Due: releases-tox-list-changes, releases-tox-validate

Revert^2 "Set antelope/2023.1 status to unmaintained"
  data/series_status.yaml
Due: releases-tox-validate

pycadf: Release 4.0.1
  deliverables/_independent/pycadf.yaml
Due: releases-tox-list-changes, releases-tox-validate

[zun] Transition 2023.1 Antelope kuryr* to Unmaintained
  deliverables/antelope/kuryr-libnetwork.yaml
  deliverables/antelope/kuryr.yaml
  deliverables/bobcat/kuryr-libnetwork.yaml
  deliverables/bobcat/kuryr.yaml
  deliverables/caracal/kuryr-libnetwork.yaml
  deliverables/caracal/kuryr.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add dates for 2025.2/"F" elections
  doc/source/epoxy/schedule.rst
  doc/source/epoxy/schedule.yaml
Due: none

python-openstackclient 7.1.4
  deliverables/dalmatian/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

neutron-lib: Release 3.18.0 for epoxy
  deliverables/epoxy/neutron-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release magnum 18.0.1 for caracal
  deliverables/caracal/magnum.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStackSDK 4.3.0
  deliverables/epoxy/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

pbr 6.1.1
  deliverables/_independent/pbr.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release os-traits 3.3.0
  deliverables/_independent/os-traits.yaml
Due: releases-tox-list-changes, releases-tox-validate

Replace SLURP diagram with fancier version
  bindep.txt
  doc/source/_images/slurp.png
  doc/source/conf.py
  doc/source/index.rst
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Releasing release-test
  deliverables/epoxy/release-test.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible 2023.1 for EOM
  deliverables/antelope/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

[OpenStackAnsible] Transition 2023.1 Antelope to Unmaintained
  deliverables/antelope/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Move 2023.2 Bobcat's EOL date away from Epoxy release
  data/series_status.yaml
Due: releases-tox-validate

Release ironic 28.0.0 bugfix branch for epoxy
  deliverables/epoxy/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release ironic-python-agent 10.1.0 bugfix branch for epoxy
  deliverables/epoxy/ironic-python-agent.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release new version of mistral-lib
  deliverables/epoxy/mistral-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

mistral-lib 3.3.0
  deliverables/epoxy/mistral-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

oslo.cache 3.10.0
  deliverables/epoxy/oslo.cache.yaml
Due: releases-tox-list-changes, releases-tox-validate

oslo.rootwrap 7.5.0
  deliverables/epoxy/oslo.rootwrap.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release neutron-lib 3.18.1
  deliverables/epoxy/neutron-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

Mention list of inactive projects in process doc
  doc/source/reference/process.rst
Due: none

oslo.utils 8.1.0
  deliverables/epoxy/oslo.utils.yaml
Due: releases-tox-list-changes, releases-tox-validate

futurist 3.1.0
  deliverables/_independent/futurist.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add 2025.2 Flamingo vPTG date to schedule
  doc/source/flamingo/schedule.rst
  doc/source/flamingo/schedule.yaml
Due: none

Add freezer deliverables to 2025.1 Epoxy
  deliverables/epoxy/freezer-api.yaml
  deliverables/epoxy/freezer-tempest-plugin.yaml
  deliverables/epoxy/freezer-web-ui.yaml
  deliverables/epoxy/freezer.yaml
Due: releases-tox-list-changes, releases-tox-validate
