Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    post-run: playbooks/releases-tox-list-changes/post.yaml
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-tox-validate
    parent: openstack-tox-validate
    post-run: playbooks/releases-tox-validate/post.yaml
    timeout: 3600
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python3-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - releases-tox-validate
        - releases-tox-list-changes
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py312:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    release-approval:
      jobs:
        - check-release-approval
    gate:
      jobs:
        - releases-tox-validate:
            timeout: 10800
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-releases:
            dependencies:
              - tag-releases

Release kuryr-libnetwork RC1 for 2024.2 Dalmatian
  deliverables/dalmatian/kuryr-libnetwork.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create stable/2024.2 for requirements
  deliverables/dalmatian/requirements.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release cinder RC2 for 2024.2 Dalmatian
  deliverables/dalmatian/cinder.yaml
Due: releases-tox-list-changes, releases-tox-validate

Do not release Kuryr in Dalmatian
  deliverables/dalmatian/kuryr-kubernetes.yaml
  deliverables/dalmatian/kuryr-libnetwork.yaml
  deliverables/dalmatian/kuryr-tempest-plugin.yaml
  deliverables/dalmatian/kuryr.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release os-traits 3.2.0
  deliverables/_independent/os-traits.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release manila RC2 for 2024.2 Dalmatian
  deliverables/dalmatian/manila.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release skyline-console RC2 for 2024.2 Dalmatian
  deliverables/dalmatian/skyline-console.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add release note links for 2024.2 Dalmatian #4
  deliverables/dalmatian/glance.yaml
  deliverables/dalmatian/masakari-dashboard.yaml
  deliverables/dalmatian/masakari-monitors.yaml
  deliverables/dalmatian/masakari.yaml
  deliverables/dalmatian/metalsmith.yaml
  deliverables/dalmatian/python-masakariclient.yaml
  deliverables/dalmatian/zun-ui.yaml
Due: releases-tox-list-changes, releases-tox-validate

openstacksdk 4.0.1
  deliverables/dalmatian/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

Update I18n process with liaison
  data/release_liaisons.yaml
  doc/source/reference/process.rst
Due: releases-tox-validate

Mark 2024.2 Dalmatian as released
  data/series_status.yaml
  doc/source/dalmatian/index.rst
  openstack_releases/defaults.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Render a graph showing the SLURP and not SLURP upgrade paths
  bindep.txt
  doc/source/conf.py
  doc/source/index.rst
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Next stage for Dalmation is EOL; not UM
  data/series_status.yaml
Due: releases-tox-validate

Puppet OpenStack 2024.2 release
  deliverables/dalmatian/puppet-aodh.yaml
  deliverables/dalmatian/puppet-barbican.yaml
  deliverables/dalmatian/puppet-ceilometer.yaml
  deliverables/dalmatian/puppet-cinder.yaml
  deliverables/dalmatian/puppet-cloudkitty.yaml
  deliverables/dalmatian/puppet-designate.yaml
  deliverables/dalmatian/puppet-glance.yaml
  deliverables/dalmatian/puppet-gnocchi.yaml
  deliverables/dalmatian/puppet-heat.yaml
  deliverables/dalmatian/puppet-horizon.yaml
  deliverables/dalmatian/puppet-ironic.yaml
  deliverables/dalmatian/puppet-keystone.yaml
  deliverables/dalmatian/puppet-magnum.yaml
  deliverables/dalmatian/puppet-manila.yaml
  deliverables/dalmatian/puppet-mistral.yaml
  deliverables/dalmatian/puppet-neutron.yaml
  deliverables/dalmatian/puppet-nova.yaml
  deliverables/dalmatian/puppet-octavia.yaml
  deliverables/dalmatian/puppet-openstack-integration.yaml
  deliverables/dalmatian/puppet-openstack_extras.yaml
  deliverables/dalmatian/puppet-openstack_spec_helper.yaml
  deliverables/dalmatian/puppet-openstacklib.yaml
  deliverables/dalmatian/puppet-oslo.yaml
  deliverables/dalmatian/puppet-ovn.yaml
  deliverables/dalmatian/puppet-placement.yaml
  deliverables/dalmatian/puppet-swift.yaml
  deliverables/dalmatian/puppet-tempest.yaml
  deliverables/dalmatian/puppet-trove.yaml
  deliverables/dalmatian/puppet-vitrage.yaml
  deliverables/dalmatian/puppet-vswitch.yaml
  deliverables/dalmatian/puppet-watcher.yaml
  deliverables/dalmatian/puppet-zaqar.yaml
Due: releases-tox-list-changes, releases-tox-validate

3 of 4 Ironic releases for OSSA-2024-004
  deliverables/bobcat/ironic.yaml
  deliverables/caracal/ironic.yaml
  deliverables/dalmatian/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

OpenStackSDK 4.1.0
  deliverables/epoxy/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

python-openstackclient 7.1.3
  deliverables/dalmatian/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

openstackdocstheme 3.4.0
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-tox-validate

neutron-lib 3.16.0
  deliverables/epoxy/neutron-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

python-openstackclient 7.2.0
  deliverables/epoxy/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add releasenotes link for Tempest 2024.2 release
  deliverables/dalmatian/tempest.yaml
Due: releases-tox-list-changes, releases-tox-validate

magnum-capi-helm: Add 1.2.0 release
  deliverables/_independent/magnum-capi-helm.yaml
Due: releases-tox-list-changes, releases-tox-validate

[tool] Update listing tool for open and unreleased changes
  tools/list_unreleased_and_open_changes.sh
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

[manila] New 2023.2/Bobcat release
  deliverables/bobcat/manila.yaml
Due: releases-tox-list-changes, releases-tox-validate

[manila] New 2023.1/Antelope release
  deliverables/antelope/manila.yaml
Due: releases-tox-list-changes, releases-tox-validate

[manila] New 2024.1/Caracal release
  deliverables/caracal/manila.yaml
Due: releases-tox-list-changes, releases-tox-validate

[manila] New 2024.2/Dalmatian release
  deliverables/dalmatian/manila.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create a new oslo.messaging release for Dalmatian
  deliverables/dalmatian/oslo.messaging.yaml
Due: releases-tox-list-changes, releases-tox-validate

Final Ironic projects releases for antelope 2023.1
  deliverables/antelope/ironic-lib.yaml
  deliverables/antelope/ironic-python-agent.yaml
  deliverables/antelope/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible Bobcat
  deliverables/bobcat/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible Antelope
  deliverables/antelope/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release Dalmatian Beta release for OpenStack-Ansible
  deliverables/dalmatian/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible for Caracal
  deliverables/caracal/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add --except-type to list-deliverables command
  openstack_releases/cmds/list_deliverables.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

[tools] Do not transition tempest plugins
  tools/transition_series.sh
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

nova: Release 2023.1 Antelope 27.5.1
  deliverables/antelope/nova.yaml
Due: releases-tox-list-changes, releases-tox-validate

Handle <series>-eol tagging for unmaintained
  openstack_releases/cmds/new_release.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

sushy bugfix release 5.2.1
  deliverables/dalmatian/sushy.yaml
Due: releases-tox-list-changes, releases-tox-validate
