Repository openstack/releases: changes, and which Zuul jobs are due for each by the changed paths.
All: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

.zuul.yaml:

- job:
    name: releases-tox-list-changes
    parent: openstack-tox
    post-run: playbooks/releases-tox-list-changes/post.yaml
    timeout: 3600
    vars:
      tox_envlist: list-changes
    irrelevant-files:
      - ^data/.*$
      - ^doc/.*$

- job:
    name: releases-tox-validate
    parent: openstack-tox-validate
    post-run: playbooks/releases-tox-validate/post.yaml
    timeout: 3600
    irrelevant-files:
      - ^doc/.*$

- project:
    templates:
      - openstack-python3-jobs
      - build-openstack-docs-pti
    check:
      jobs:
        - releases-tox-validate
        - releases-tox-list-changes
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py312:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-pep8:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-bashate:
            files:
              - ^.*\.sh$
    release-approval:
      jobs:
        - check-release-approval
    gate:
      jobs:
        - releases-tox-validate:
            timeout: 10800
        - openstack-tox-py38:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py39:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py310:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
        - openstack-tox-py311:
            irrelevant-files:
              - ^data/.*$
              - ^deliverables/.*$
              - ^doc/.*$
    release-post:
      jobs:
        - tag-releases
        - publish-tox-docs-releases:
            dependencies:
              - tag-releases

osc-lib 4.0.0
  deliverables/flamingo/osc-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

python-openstackclient 8.0.0
  deliverables/flamingo/python-openstackclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

oslo.middleware 6.4.0
  deliverables/flamingo/oslo.middleware.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add Membership Freeze deadline to Flamingo-2
  doc/source/flamingo/schedule.yaml
Due: none

Release openstackdocstheme 3.5.0
  deliverables/_independent/openstackdocstheme.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release release-test to test the new signing key
  deliverables/flamingo/release-test.yaml
Due: releases-tox-list-changes, releases-tox-validate

Updating the Octavia and Designate liaisons
  data/release_liaisons.yaml
Due: releases-tox-validate

Release oslo.utils 7.3.1 to fix Nova boot from iso issue
  deliverables/dalmatian/oslo.utils.yaml
Due: releases-tox-list-changes, releases-tox-validate

openstacksdk 4.5.0
  deliverables/flamingo/openstacksdk.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release ironic 23.0.5 for bobcat
  deliverables/bobcat/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

Puppet OpenStack 2025.1 release
  deliverables/epoxy/puppet-aodh.yaml
  deliverables/epoxy/puppet-barbican.yaml
  deliverables/epoxy/puppet-ceilometer.yaml
  deliverables/epoxy/puppet-cinder.yaml
  deliverables/epoxy/puppet-cloudkitty.yaml
  deliverables/epoxy/puppet-designate.yaml
  deliverables/epoxy/puppet-glance.yaml
  deliverables/epoxy/puppet-gnocchi.yaml
  deliverables/epoxy/puppet-heat.yaml
  deliverables/epoxy/puppet-horizon.yaml
  deliverables/epoxy/puppet-ironic.yaml
  deliverables/epoxy/puppet-keystone.yaml
  deliverables/epoxy/puppet-magnum.yaml
  deliverables/epoxy/puppet-manila.yaml
  deliverables/epoxy/puppet-mistral.yaml
  deliverables/epoxy/puppet-neutron.yaml
  deliverables/epoxy/puppet-nova.yaml
  deliverables/epoxy/puppet-octavia.yaml
  deliverables/epoxy/puppet-openstack-integration.yaml
  deliverables/epoxy/puppet-openstack_extras.yaml
  deliverables/epoxy/puppet-openstack_spec_helper.yaml
  deliverables/epoxy/puppet-openstacklib.yaml
  deliverables/epoxy/puppet-oslo.yaml
  deliverables/epoxy/puppet-ovn.yaml
  deliverables/epoxy/puppet-placement.yaml
  deliverables/epoxy/puppet-swift.yaml
  deliverables/epoxy/puppet-tempest.yaml
  deliverables/epoxy/puppet-trove.yaml
  deliverables/epoxy/puppet-vitrage.yaml
  deliverables/epoxy/puppet-vswitch.yaml
  deliverables/epoxy/puppet-watcher.yaml
  deliverables/epoxy/puppet-zaqar.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release placement for 2023.2 Bobcat
  deliverables/bobcat/placement.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release OpenStack-Ansible Epoxy Beta
  deliverables/epoxy/openstack-ansible.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release Octavia stable/2023.2 bugfixes
  deliverables/bobcat/octavia.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release Octavia stable/2024.1 bugfixes
  deliverables/caracal/octavia.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release placement for 2024.1 Caracal
  deliverables/caracal/placement.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release placement for 2024.2 Dalmatian
  deliverables/dalmatian/placement.yaml
Due: releases-tox-list-changes, releases-tox-validate

Update hashes for CloudKitty for Bobcat last release
  deliverables/bobcat/cloudkitty.yaml
  deliverables/bobcat/python-cloudkittyclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

Add manila deadlines to the official schedule
  doc/source/flamingo/schedule.rst
  doc/source/flamingo/schedule.yaml
Due: none

Release nova for stable/2023.2
  deliverables/bobcat/nova.yaml
Due: releases-tox-list-changes, releases-tox-validate

Deprecate openstack/openstack-ansible-tests repository
  deliverables/epoxy/openstack-ansible-roles.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release octavia-lib stable/2023.2 bugfix
  deliverables/bobcat/octavia-lib.yaml
Due: releases-tox-list-changes, releases-tox-validate

Create new python-zaqarclient release for Epoxy
  deliverables/epoxy/python-zaqarclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

Stable branch release for bobcat designate
  deliverables/bobcat/designate.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release point release for Ironic epoxy
  deliverables/epoxy/ironic.yaml
Due: releases-tox-list-changes, releases-tox-validate

Release octavia-dashboard stable/2023.2 bugfix
  deliverables/bobcat/octavia-dashboard.yaml
Due: releases-tox-list-changes, releases-tox-validate

nova: Release 2024.1 Caracal 29.2.1
  deliverables/caracal/nova.yaml
Due: releases-tox-list-changes, releases-tox-validate

[tool] Fix get-contacts --ptl and --liaisons
  openstack_releases/cmds/get_contacts.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

[tool] Fix missing-releases command
  openstack_releases/links.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

[tool] Skip tempest plugins when listing unreleased and open changes
  tools/list_unreleased_and_open_changes.sh
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8, openstack-tox-bashate

[tool] Fix get-contacts in case of retired team
  openstack_releases/cmds/get_contacts.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

[tool] Fix unreleased-since listing
  openstack_releases/cmds/list_deliverables.py
Due: releases-tox-list-changes, releases-tox-validate, openstack-tox-py38, openstack-tox-py39, openstack-tox-py310, openstack-tox-py311, openstack-tox-py312, openstack-tox-pep8

Add Nova deadlines to the official schedule
  doc/source/flamingo/schedule.rst
  doc/source/flamingo/schedule.yaml
Due: none

[oslo] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/automaton.yaml
  deliverables/bobcat/castellan.yaml
  deliverables/bobcat/oslo.cache.yaml
  deliverables/bobcat/oslo.concurrency.yaml
  deliverables/bobcat/oslo.config.yaml
  deliverables/bobcat/oslo.context.yaml
  deliverables/bobcat/oslo.db.yaml
  deliverables/bobcat/oslo.i18n.yaml
  deliverables/bobcat/oslo.limit.yaml
  deliverables/bobcat/oslo.log.yaml
  deliverables/bobcat/oslo.messaging.yaml
  deliverables/bobcat/oslo.metrics.yaml
  deliverables/bobcat/oslo.middleware.yaml
  deliverables/bobcat/oslo.policy.yaml
  deliverables/bobcat/oslo.privsep.yaml
  deliverables/bobcat/oslo.reports.yaml
  deliverables/bobcat/oslo.rootwrap.yaml
  deliverables/bobcat/oslo.serialization.yaml
  deliverables/bobcat/oslo.service.yaml
  deliverables/bobcat/oslo.upgradecheck.yaml
  deliverables/bobcat/oslo.utils.yaml
  deliverables/bobcat/oslo.versionedobjects.yaml
  deliverables/bobcat/oslo.vmware.yaml
  deliverables/bobcat/stevedore.yaml
  deliverables/bobcat/taskflow.yaml
Due: releases-tox-list-changes, releases-tox-validate

[octavia] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/octavia-dashboard.yaml
  deliverables/bobcat/octavia-lib.yaml
  deliverables/bobcat/octavia.yaml
  deliverables/bobcat/python-octaviaclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

[ec2-api] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/ec2-api.yaml
Due: releases-tox-list-changes, releases-tox-validate

[nova] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/nova.yaml
  deliverables/bobcat/os-vif.yaml
  deliverables/bobcat/osc-placement.yaml
  deliverables/bobcat/placement.yaml
  deliverables/bobcat/python-novaclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

[zun] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/kuryr-libnetwork.yaml
  deliverables/bobcat/kuryr.yaml
  deliverables/bobcat/python-zunclient.yaml
  deliverables/bobcat/zun-ui.yaml
  deliverables/bobcat/zun.yaml
Due: releases-tox-list-changes, releases-tox-validate

[cloudkitty] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/cloudkitty-dashboard.yaml
  deliverables/bobcat/cloudkitty.yaml
  deliverables/bobcat/python-cloudkittyclient.yaml
Due: releases-tox-list-changes, releases-tox-validate

[Release Management] Transition 2023.2 Bobcat to End of Life
  deliverables/bobcat/release-test.yaml
Due: releases-tox-list-changes, releases-tox-validate
